<h1> Tasks </h1>

<p>  This is where the tasks center will be.  This will relate to a main section that has different options relating to tasks.  This will include how many tasks total, completed tasks, unfinshed to completed tasks ratio and try to cross reference other users data to find related matches (this will be done by creating separate tables for each different entity-based relationship and lot's of foreign key pairings will be utilized)